ul
	margin: 0
	padding: 0

	li
		list-style: none

starlist
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 150px
	overflow: auto
	background: grey
	padding: 16px

	input
		width: 108px

.quarterlist
	position: absolute
	top: 0
	height: 48px
	left: 150px
	right: 0
	overflow: auto
	background: lightgrey
	padding: 16px


	li
		display: inline
		margin-right: 16px

.maingraph
	position: absolute
	top: 48px
	left: 150px
	right: 0
	bottom: 0
